<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Demos</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
    }

    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
    }
    </style>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Demo</a></h1>
      </div>
      {% if has_result %}
      <div>
        <img width="256" height="256" src={{ image1 }}>
        <img width="256" height="256" src={{ image2 }}>
      </div>
      <hr>
      {% endif %}

      <form id="formupload" class="form-inline" role="form" action="do" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">upload a sketch generated below or drawn by yourself, and get the colored one:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
        <input type="submit" class="btn btn-primary" value="paint" id="classifyfile"></input>
      </form>
      <br>
      <br>
      <br>
      <br>
      <form id="formupload" class="form-inline" role="form" action="sketchify1" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">upload a color picture or a photo to generate the sketch:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
        <input type="submit" class="btn btn-primary" value="sketch" id="classifyfile2"></input>
      </form>
    </div>
      <hr>

    <hr>
 </body>
</html>


